# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51IZNfoKPNlZhrDoJd3GLBdtXZUDOpNY16FicxI3vvwnQfOv9SYWtf2Qyp80nLBBkl8D5QT7rTinq2kOK9jniywWB00t9j9gKdK
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

# Github
GITHUB_ID=
GITHUB_SECRET=

# FaunaDB
FAUNADB_KEY=

# Prismic CMS
PRISMIC_ENDPOINT=https://bsantoni-ignews.cdn.prismic.io/api/v2
PRISMIC_ACCESS_TOKEN=